body{
    margin:0px;
}
.topnav{
    background-color:white;
    float:left;
    overflow:hidden;
    width:100%;
    text-align:center;
    border:0px;
    margin:0;
    padding:0px;
}

.topnav a{
    float:left;
    color:white;
    background-color:black;
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
    width:20%;
}

.topnav a:hover{
    background-color: lightskyblue;
    color:black;
}

h1{
    color:black;
}
#active {
    background-color:blue;
    color:white;
}

.content {
    padding:10px;
    margin-top:5px;
    float:left;
}